<!-- Statictics -->
<section class="section cool-blue-bg">
  <div class="container">
    <h2 class="link">
      <a href="/charts.html">COVID-19 Situation at a Glance<span class="moh-icon moh-icon-arrow ps-3"></span></a>
    </h2>
    <p class="semibold">
      Last updated 24 June 2021, 12:00pm
    </p>

    <div class="situation-stat-row pt-1">
      <div class="stat-item first-col">
        <p class="h4">Total</p>
        <p class="big-number mb-0">8,804,737</p>
        <p class="info">Doses administered</p>
      </div>
      <div class="stat-item">
        <div class="vaccine-stat">
          <span class="vaccine-icon moh-icon moh-icon-syringe"></span>
          <div class="vaccine-number">
            <p class="number">4,536,986</p>
            <p class="info">Received at least one dose</p>
          </div>
        </div>
      </div>
      <div class="stat-item">
        <div class="vaccine-stat">
          <span class="vaccine-icon moh-icon moh-icon-syringe"></span><span class="vaccine-icon moh-icon moh-icon-syringe"></span>
          <div class="vaccine-number">
            <p class="number">4,385,405</p>
            <p class="info">Completed full regimen</p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="situation-stat-row">
      <div class="stat-item first-col">
        <p class="h4">New Cases</p>
        <p class="big-number">332</p>
      </div>
      <div class="stat-item " data-width-tablet="180" data-width-desktop="210" style="flex-basis: 210px;">
        <p class="number">143</p>
        <p class="info">Local linked</p>
      </div>
      <div class="stat-item" data-width-tablet="180" data-width-desktop="245" style="flex-basis: 245px;">
        <p class="number">185</p>
        <p class="info">Local unlinked</p>
      </div>
      <div class="stat-item">
        <p class="number">4</p>
        <p class="info">Imported</p>
      </div>
    </div>

    <div class="situation-stat-row align-flex-start">
      <div class="stat-item first-col">
        <p class="h4">Hospitalised</p>
        <p class="big-number">643</p>
      </div>
      <div class="stat-item" data-width-tablet="180" data-width-desktop="210" style="flex-basis: 210px;">
        <p class="number">24</p>
        <p class="info">Requires Oxygen <br class="hidden-xs">Supplementation</p>
      </div>
      <div class="stat-item" data-width-tablet="180" data-width-desktop="245" style="flex-basis: 245px;">
        <p class="number">6</p>
        <p class="info">In Intensive Care Unit</p>
      </div>
      <div class="stat-item">
        <p class="number">55</p>
        <p class="info">Deaths</p>
      </div>
      <div class="white-box red-border d-flex flex-align-start">
        <div class="not-vaccinated-icon">
          <span class="moh-icon moh-icon-syringe"></span>
          <span class="sgds-icon sgds-icon-circle-plus"></span>
        </div>
        <p class="ps-3 mb-0 bold text-16px">Of the 30 cases in either ICU or require oxygen supplementation, 14 cases are not fully vaccinated</p>
      </div>
    </div>

    <div class="pt-3 pb-5">
      <p>
        <a href="#" class="h5"><span class="moh-icon moh-icon-news"></span> Read the latest press release</a>
      </p>
      <div class="d-md-flex flex-align-center mt-3">
        <p class="semibold mb-2 mb-md-0 font-normal">Follow us now for daily updates</p>
        <ul class="social-icons">
          <li>
            <a href="#" class="facebook" aria-label="facebook"><span class="sgds-icon sgds-icon-facebook-alt"></span></a>
          </li>
          <li>
            <a href="#" class="twitter" aria-label="twitter"><span class="sgds-icon sgds-icon-twitter"></span></a>
          </li>
          <li>
            <a href="#" class="instagram" aria-label="instagram"><span class="sgds-icon sgds-icon-instagram"></span></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row graphs-section">
      <div class="col-sm-6 mb-3">
        <div class="flex-column-between h-100 graph-item">
          <p class="graph-title">
            Number of Local Unlinked Cases, and Linked Cases by Already Quarantined/Detected through Surveillance
          </p>
          <a href="/img/graph.png" target="_blank">
            <img class="w-100" src="/img/graph.png" alt="graph 1" title="graph 1" />
          </a>
          <div class="my-3">
            <a class="download-share-link h5" href="/img/graph.png" download="graph"><span class="moh-icon moh-icon-download"></span> Download and share</a>
          </div>
        </div>
      </div>
      
      <div class="col-sm-6 mb-3">
        <div class="flex-column-between h-100 graph-item">
          <p class="graph-title">
            Number of Active Cases in ICU or Requiring Oxygen Supplementation
          </p>
          <a href="/img/graph2.png" target="_blank">
            <img class="w-100" src="/img/graph2.png" alt="graph 2" title="graph 2" />
          </a>
          <div class="my-3">
            <a class="download-share-link h5" href="/img/graph2.png" download="graph2"><span class="moh-icon moh-icon-download"></span> Download and share</a>
          </div>
        </div>
      </div>
    </div>
    
    <div id="daily-graphs" class="graph-popup popup-face mfp-hide">
      <div class="popup-frame">
        <div class="graph-item">
          <p class="title">Number of Community Unlinked Cases, and Linked Cases by Already Quarantined/ Detected through Surveillance<sup>1</sup></p>
          <div class="graph">
            <img src="/img/graph.png" alt="graph 1" title="graph 1" />
          </div>
          <p class="footnote">
            <sup>1</sup> Incorporates re-classifications of earlier reported cases
          </p>
          <a class="download-share-link" href="/img/graph.png" download="graph">
            <span class="moh-icon moh-icon-download"></span> Download and share
          </a>
        </div>
        <div class="graph-item">
          <p class="title">Number of Active Cases in ICU or Requiring Oxygen Supplementation</p>
          <div class="graph">
            <img src="/img/graph2.png" alt="graph 2" title="graph 2" />
          </div>
          <a class="download-share-link" href="/img/graph2.png" download="graph">
            <span class="moh-icon moh-icon-download"></span> Download and share
          </a>
        </div>
      </div>
    </div>

    <a href="#daily-graphs" class="graph-popper popup-link h5">
      <span class="moh-icon moh-icon-graph"></span> View graphs for day-by-day details and trends on COVID-19 situation
    </a>
      
  </div>
</section>