$transition: 0.3s all;
header {
  padding-top: 1.5rem;
  .menu-icon {
    width: 4rem;
    height: 3.2rem;
    position: relative;
    span {
      width: 2.5rem;
      height: 2px;
      background: #333;
      display: block;
      position: absolute;
      transform: translateY(-50%);
      transition: $transition;
      &:first-child {
        top: 25%;
      }
      &:nth-child(2) {
        top: 50%;
      }
      &:last-child {
        top: 75%;
      }
    }
  }
  .offcanvas {
    ul {
      list-style: none;
      padding-left: 1rem;
      li {
        font-size: 2rem;
        padding-bottom: 1rem;
      }
    }
    a {
      text-decoration: none;
      &:hover {
        color: #444e62;
      }
    }
  }
}

.scroll-top {
  position: fixed;
  display: none;
  right: 30px;
  bottom: 3rem;
  .scroll-top-container {
    background: #444e62;
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 50%;
    &:hover {
      background: #2567cb;
    }
  }
  @media (min-width: 1300px) {
    right: 100px;
  }
}